/* .title{
    padding: 1rem;
} */

.head{
    color: brown;
}

.co-head{
    color: gray;
}

.nav{
    background-color: silver;
    margin: 1rem 0;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}

li{
    color: white;
    font-weight: bold;
    padding: 1rem 5rem;
}

.active{
    background-color: brown;
}

